.fadeIn {
    opacity: 1;
    animation: fade1 1s linear;
}

.fadeOut {
    opacity: 1;
    animation: fade2 1s linear;
}

@keyframes fade1 {
    0% { opacity: 0 }
    100% {opacity: 1 }
}

@keyframes fade2 {
    0% { opacity: 1 }
    100% {opacity: 0 }
}